
body {
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: <weight>;
                font-style: normal;
                margin: 25px 40px;
            }
            
            header {
                max-width: 600px;
                border: 1px solid black;
                border-radius: 10px;
                padding: 0 20px;
            }
            
            h1, h2, h3 {
                font-family: "Protest Strike", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
            
            
            img {
                border: 1px solid black;
            }
            
            cite {
                font-size: small;
            }

ul {
    list-style-type: none;
}