/* Custom CSS Properties (variables) */
:root {
    --background: #fdfaf5;
    --paper: #e3e3e3;
    --ink: #125d66;
    --ink-2: #0e3d43;
    --text: darkslategrey;
    --muted: #6b7280;
    --rule: #C2B280;
    --link: saddlebrown;
    --link-hover: rgb(23, 162, 82);
    --nav-active-background: var(--link-hover);
    --nav-active-text: white;
}

/* Main Styles */
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--paper);
    color: var(--text);
    margin: 35px auto;
    max-width: 60em;
}
nav {
    font-family: "Ibarra Real Nova", serif;
    margin: 0;
    background-color: var(--background);
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 3px 10px;
    font-size: 1.2em;
    flex: auto;
    /*position: fixed;
    top: 0;*/
}
nav a {
    display: inline;
}
ul {
    list-style-type: none;
    padding: 2px;
    margin: 0;
    text-align: center;
}
li {
    display: inline;
}

li a {
    text-decoration: none;
    color: var(--link);
    padding: 2px 40px;
    line-height: 1em;
}

a:hover {
    color: var(--link-hover);
    background-color: var(--background);
    border-top: dotted 1px black;
    border-bottom: dotted 1px black;
    /*font-weight: 700;*/
}
a:active {
    color: red;
    background-color: white;
}

.link-current-page {
    background-color: var(--paper);
    color: var(--paper);
    border-top: dotted 1px var(--rule);
    border-bottom: dotted 1px var(--rule);
    padding: 10px 0;
    line-height: 42px;
    font-weight: 700;
}

img {
    border: solid 3px var(--rule);
    float: left;
    margin: 0 10px 10px 0;
}

.clearfix {
    clear: both; /* Clears floats on both sides */
}

h1 {
    text-align: center;
    font-family: "Ibarra Real Nova", serif;
    font-size: 4em;
}
h2 {
    font-size: 2.5em;
    font-family: "Ibarra Real Nova", serif;
    padding: 0;
    margin: 0;
}

.header-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    color: var(--rule);
}

.header-divider::before,
.header-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--rule);
}
.header-divider span {
    padding: 1em 0.5em;
    font-size: 0.8em;
    color: var(--rule);
}

section {
    margin: 10px 50px;
    border: 3px solid var(--rule);
    padding: 5% 10% 2%;
    background-color: var(--background);
    box-shadow: 3px 4px 25px var(--rule);
}

/* Dropcap */
section p:first-of-type::first-letter {
    /*float: left;*/
    font-size: 2em;
    font-weight: 100;
    font-family: "Playfair Display", serif;
}
/*.dropcap::first-letter {
}*/
section p {
    font-size: 0.9em;
    line-height: 1.5em;
}

.bottom-nav {
    margin: 33px auto ;
}

footer {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: small;
}
